In [2]:
import xlrd
import numpy as np
import pandas as pd

In [3]:
bpsDf = pd.read_excel('databps.xlsx', na_values = ['-'], header=3, skipfooter=1)

In [4]:
bpsDf.rename(columns = {'Unnamed: 0': 'Provinsi'}, inplace=True)
bpsDf

,Provinsi,2003,2005,2008,2011,2014,2018,2003.1,2005.1,2008.1,2011.1,2014.1,2018.1
0,ACEH,507.0,660.0,678.0,761.0,748,723,5229.0,5308.0,5746.0,5722.0,5764,5785
1,SUMATERA UTARA,336.0,175.0,375.0,396.0,459,423,5043.0,4740.0,5392.0,5401.0,5645,5709
2,SUMATERA BARAT,80.0,99.0,102.0,116.0,127,132,795.0,802.0,822.0,917.0,1018,1143
3,RIAU,346.0,406.0,186.0,232.0,271,254,1279.0,1326.0,1418.0,1423.0,1564,1621
4,JAMBI,28.0,28.0,28.0,29.0,30,28,1161.0,1207.0,1275.0,1343.0,1521,1534
5,SUMATERA SELATAN,16.0,19.0,22.0,34.0,29,25,2691.0,2759.0,3057.0,3152.0,3208,3237
6,BENGKULU,134.0,157.0,166.0,182.0,186,184,1029.0,1067.0,1185.0,1327.0,1346,1330
7,LAMPUNG,170.0,186.0,203.0,231.0,241,231,1958.0,2005.0,2136.0,2233.0,2391,2423
8,KEP. BANGKA BELITUNG,122.0,105.0,137.0,163.0,166,160,195.0,216.0,207.0,198.0,215,231
9,KEP. RIAU,NaN,NaN,267.0,299.0,361,355,NaN,NaN,59.0,54.0,54,61
10,DKI JAKARTA,16.0,16.0,15.0,16.0,16,15,251.0,251.0,252.0,251.0,251,252
11,JAWA BARAT,219.0,193.0,217.0,217.0,227,221,5539.0,5615.0,5654.0,5688.0,5735,5736
12,JAWA TENGAH,334.0,334.0,329.0,347.0,357,355,8221.0,8230.0,8245.0,8230.0,8221,8204
13,DI YOGYAKARTA,30.0,32.0,33.0,33.0,33,33,408.0,406.0,405.0,405.0,405,405
14,JAWA TIMUR,567.0,571.0,611.0,655.0,678,655,7898.0,7906.0,7894.0,7847.0,7824,7841
15,BANTEN,114.0,123.0,124.0,131.0,135,133,1365.0,1359.0,1380.0,1404.0,1416,1419
16,BALI,150.0,156.0,167.0,177.0,175,175,536.0,545.0,545.0,539.0,541,541
17,NUSA TENGGARA BARAT,183.0,184.0,241.0,279.0,301,297,555.0,636.0,672.0,805.0,840,846
18,NUSA TENGGARA TIMUR,768.0,815.0,841.0,943.0,1011,1018,1782.0,1923.0,1962.0,2023.0,2259,2335
19,KALIMANTAN BARAT,130.0,138.0,153.0,163.0,161,158,1309.0,1392.0,1638.0,1804.0,1948,1979
20,KALIMANTAN TENGAH,40.0,34.0,41.0,45.0,44,45,1290.0,1317.0,1407.0,1483.0,1525,1531
21,KALIMANTAN SELATAN,135.0,131.0,135.0,166.0,165,165,1814.0,1828.0,1839.0,1834.0,1843,1843
22,KALIMANTAN TIMUR,131.0,168.0,179.0,218.0,175,156,1168.0,1176.0,1238.0,1247.0,851,882
23,KALIMANTAN UTARA,NaN,NaN,NaN,NaN,55,56,NaN,NaN,NaN,NaN,424,426
24,SULAWESI UTARA,456.0,509.0,627.0,721.0,778,783,740.0,760.0,867.0,972.0,1058,1055
25,SULAWESI TENGAH,684.0,770.0,839.0,901.0,1021,1011,756.0,760.0,847.0,914.0,965,1009
26,SULAWESI SELATAN,547.0,547.0,485.0,504.0,531,527,2537.0,2739.0,2461.0,2478.0,2499,2522
27,SULAWESI TENGGARA,590.0,658.0,771.0,813.0,947,954,974.0,1027.0,1257.0,1308.0,1325,1400
28,GORONTALO,82.0,110.0,136.0,191.0,203,201,294.0,340.0,448.0,540.0,533,533
29,SULAWESI BARAT,NaN,NaN,122.0,148.0,152,152,NaN,NaN,414.0,490.0,496,498
30,MALUKU,708.0,733.0,772.0,859.0,914,1064,128.0,140.0,134.0,165.0,174,176
31,MALUKU UTARA,551.0,568.0,772.0,856.0,941,934,190.0,213.0,264.0,223.0,255,262
32,PAPUA BARAT,NaN,NaN,416.0,536.0,543,572,NaN,NaN,789.0,903.0,1024,1415
33,PAPUA,846.0,827.0,474.0,522.0,646,662,2661.0,2512.0,2837.0,3402.0,4225,4890

In [5]:
listTahun = [2003, 2008, 2011, 2014, 2018]
listTahunString = ['2003.1', '2008.1', '2011.1', '2014.1', '2018.1']
for i in range(len(listTahun)):
    totalValue = bpsDf[listTahun[i]] + bpsDf[listTahunString[i]]
    bpsDf['Total'] = totalValue
    print(f'Desa Terbanyak pada Tahun {listTahun[i]} :')
    print(bpsDf[totalValue == totalValue.max()][["Provinsi", listTahun[i], listTahunString[i], 'Total']])

Desa Terbanyak pada Tahun 2003 :
       Provinsi   2003  2003.1   Total
12  JAWA TENGAH  334.0  8221.0  8555.0
Desa Terbanyak pada Tahun 2008 :
       Provinsi   2008  2008.1   Total
12  JAWA TENGAH  329.0  8245.0  8574.0
Desa Terbanyak pada Tahun 2011 :
       Provinsi   2011  2011.1   Total
12  JAWA TENGAH  347.0  8230.0  8577.0
Desa Terbanyak pada Tahun 2014 :
       Provinsi  2014  2014.1  Total
12  JAWA TENGAH   357    8221   8578
Desa Terbanyak pada Tahun 2018 :
       Provinsi  2018  2018.1  Total
12  JAWA TENGAH   355    8204   8559

In [6]:
listTahun = [2003, 2008, 2011, 2014, 2018]
listTahunString = ['2003.1', '2008.1', '2011.1', '2014.1', '2018.1']
for i in range(len(listTahun)):
    totalValue = bpsDf[listTahun[i]] + bpsDf[listTahunString[i]]
    bpsDf['Total'] = totalValue
    print(f'Desa Tersedikit pada Tahun {listTahun[i]} :')
    print(bpsDf[totalValue == totalValue.min()][["Provinsi", listTahun[i], listTahunString[i], 'Total']])

Desa Tersedikit pada Tahun 2003 :
       Provinsi  2003  2003.1  Total
10  DKI JAKARTA  16.0   251.0  267.0
Desa Tersedikit pada Tahun 2008 :
       Provinsi  2008  2008.1  Total
10  DKI JAKARTA  15.0   252.0  267.0
Desa Tersedikit pada Tahun 2011 :
       Provinsi  2011  2011.1  Total
10  DKI JAKARTA  16.0   251.0  267.0
Desa Tersedikit pada Tahun 2014 :
       Provinsi  2014  2014.1  Total
10  DKI JAKARTA    16     251    267
Desa Tersedikit pada Tahun 2018 :
       Provinsi  2018  2018.1  Total
10  DKI JAKARTA    15     252    267